html{
	background: #3399FF;
}
table {
	border: 1px solid black;	
}


th {
	padding-left: 30px;
}

#contenedor {
				background-color: white;
				margin: 0 auto;
				width: 75%;
				border: 1px solid black;
				border-radius: 10px;
				padding: 20px;
	}
	
a{
	font-weight: bold;
	text-decoration:none;
	font-size: 18px;
}	

#opciones {
	border: 1px solid;
	background-color: #DFDFDF;
	width: 100%;
	height: 320px;
	border-radius: 20px;
}

.formu {    
			float:left;
			padding-left: 40px;
			font-size: 20px;
			}
			
.editar { 
			float:right;
			padding-right: 40px;
			width: 30%;
			font-size: 20px;
			}	
			

h1 { text-align:center}

h2 { padding: 5px;}		
.menu { text-align: right}
			


.agenda {
	width: 90%;
	margin: 0 auto;
}		

h1 {
	font-weight:bold;
	font-size: 45px;
	text-align:left;
}	
			
</style>